.button_big{
    margin-top: 67px;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background-color: $main-color;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.button_med{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: $main-color;
    border: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}


 .button_small{
    width: 135px;
    height: 44px;
    border-radius: 5px;
    background-color: $main-color;
    border: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .button_big_third{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background-color: $main-color;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }
 