.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.56);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 350px;
    background-color: #f2f2f2;
    padding: 35px 40px 40px 40px;
    &_subtitle{
        font-weight: 700;
        font-size: 19px;
        text-align: center;
    }
    &_descr{
        font-weight: 700;
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
    }
    &__close{
        position: absolute;
        top: 0;
        right: -30px;
        font-size: 41px;
        line-height: 21px;
        color: $main-color;
        cursor: pointer;
    }
    &_feed-form{   
            display: flex;
            flex-direction: column;
            padding-top: 26px;
            align-items: center;
            input{
                font-size: 14px;
                font-weight: 500;
                width: 282px;
                height: 52px;
                border-radius: 10px;
                margin-top: 12px;
                height: 60px;
                border: none;
                padding-left: 21px;
            }
    }
    &_button{
        margin-top: 17px;
        border-radius: 10px;
        border: none;
        background-color: $main-color;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        width: 302px;
        height: 58px;
    }
    &_mini{
        min-height: 120px;
        &_subtitle{
            text-align: center;
            padding-top: 20px;
            font-size: 19px;
            font-weight: 700;
        }
        &_descr{
            text-align: center;
            font-size: 14px;
            font-weight: 700;
            padding-top: 10px;
        }
    }
    .error{
        border: 1px solid red;
    }
        label.error {
            color: black;
            border: none;
            text-align: center;
            margin-bottom: 10px;
    }
}

#consultation, #order, #thanks{
    display: none;
}

