@import 'promo';
@import 'variables';
@import 'mixins';
@import 'buttons';
@import 'header';
@import 'priorites';
@import 'consultation';
@import 'forms';


*{
    font-family: 'MuseoModerno', sans-serif;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 950px;
    margin: 0 auto;
}
